<!DOCTYPE html>
html(lang="zh-CN")
  head
    include head.jade
    script(src="../js/each/equipmentDetails.js")
  body
    include header2.jade
    .equipmentDetails
      .title
        span.btn-big.btn-green 固定器材
        span.btn-big 消耗器材
      .center
          .row
            span(class="col-1") 类别
            span(class="col-1") 编号
            span(class="col-1") 名称
            span(class="col-4") 规格/型号/功能
            span(class="col-1") 数量
            span(class="col-1") 单位
            span(class="col-1") 使用时长
          .row.sp
            span(class="col-1") 仪器类
            span(class="col-1") 000003
            span(class="col-1") 测试仪
            span(class="col-4") 输入时请删除这行事例数据,请按照批注进行输入
            span(class="col-1") 1
            span(class="col-1") 个
            span(class="col-1") 不足一年
          .row.sp
            span(class="col-1") 仪器类
            span(class="col-1") 000001
            span(class="col-1") 心跳测试仪
            span(class="col-4") 输入时请删除这行事例数据,请按照批注进行输入
            span(class="col-1") 1
            span(class="col-1") 个
            span(class="col-1") 2年

