<!DOCTYPE html>
html(lang="zh-CN")
  head
    include head.jade
  body
    include header2.jade
    .homepage
      .caption 圣菲小学
        span.address 四川省成都市双流航空巷
      .informationBox
        .relevantData
          .title 相关数据
          .data
            ul
              li
                .top 在校生
                .bottom 2832
                  span 人 
              li
                .top 体育教师
                .bottom 7
                  span 人 
              li
                .top 班级数
                .bottom 36
                  span 班 
              li
                .top 全校总课时数
                .bottom 2934
                  span 课时
        .chartList
          .left
            .title 健康等级分布
              a(href="./healthyDistribute.html") 查看更多
            .caption
              span 优秀占比:
                span.color_1
              span 良好占比:
                span.color_2
              span 及格占比:
                span.color_3
              span 不及格占比:
                span.color_4
            .list
              span.color_1(style="width:20%") 20%
              span.color_2(style="width:40%") 40%
              span.color_3(style="width:30%") 30%
              span.color_4(style="width:10%") 10%
          .right
            .title 男女占比
            .caption
              span 男:
                span.color_1
              span 女:
                span.color_2
            .list
              span.color_1(style="width:42%") 42%
              span.color_2(style="width:58%") 58%
        .class
          .top 课程开展情况:
            a(href="./healthyClass.html") 查看更多
          .center
            .left
              span 2934
              span 课时
            .right
              .top
                ul
                  li 篮球
                  li 田径
                  li 健美操
                  li 武术
                  li 足球
              .bottom
                ul
                  li 450
                  li 337
                  li 621
                  li 821
                  li 705
        .equipment
          .top 器材教具情况:
            a(href="./equipmentDetails.html") 查看更多
          .center
            .top 
              ul
                li 巡查时间
                li 固定器材(数量)
                li 消耗器材(数量)
                li 检查问题器械教具
            .bottom
              ul
                li 2017-8-23
                li 2086
                li 1208
                li 121
              