/* 清除浮动 */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}
.clearfix:after {
  clear: both;
}
/* 颜色 */
/* 文字尺寸 */
[font~="12"],
h4 {
  font-size: 12px;
}
[data-dpr="2"] [font~="12"],
[data-dpr="2"] h4 {
  font-size: 24px;
}
[data-dpr="3"] [font~="12"],
[data-dpr="3"] h4 {
  font-size: 36px;
}
[font~="14"],
h3 {
  font-size: 14px;
}
[data-dpr="2"] [font~="14"],
[data-dpr="2"] h3 {
  font-size: 28px;
}
[data-dpr="3"] [font~="14"],
[data-dpr="3"] h3 {
  font-size: 42px;
}
[font~="16"],
h2 {
  font-size: 16px;
}
[data-dpr="2"] [font~="16"],
[data-dpr="2"] h2 {
  font-size: 32px;
}
[data-dpr="3"] [font~="16"],
[data-dpr="3"] h2 {
  font-size: 48px;
}
[font~="18"],
h1 {
  font-size: 18px;
}
[data-dpr="2"] [font~="18"],
[data-dpr="2"] h1 {
  font-size: 36px;
}
[data-dpr="3"] [font~="18"],
[data-dpr="3"] h1 {
  font-size: 54px;
}
[font~="20"] {
  font-size: 20px;
}
[data-dpr="2"] [font~="20"],
[data-dpr="2"] {
  font-size: 40px;
}
[data-dpr="3"] [font~="20"],
[data-dpr="3"] {
  font-size: 60px;
}
[font~="24"] {
  font-size: 24px;
}
[data-dpr="2"] [font~="24"],
[data-dpr="2"] {
  font-size: 48px;
}
[data-dpr="3"] [font~="24"],
[data-dpr="3"] {
  font-size: 72px;
}
[font~="32"] {
  font-size: 32px;
}
[data-dpr="2"] [font~="32"],
[data-dpr="2"] {
  font-size: 64px;
}
[data-dpr="3"] [font~="32"],
[data-dpr="3"] {
  font-size: 96px;
}
[font~="icon"] {
  display: block;
  font-size: 20px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
}
[data-dpr="2"] [font~="icon"] {
  font-size: 40px;
  width: 48px;
  height: 48px;
  line-height: 48px;
}
[data-dpr="3"] [font~="icon"] {
  font-size: 60px;
  width: 72px;
  height: 72px;
  line-height: 72px;
}
/* 过度 */
/* 圆角 */
/* 3D变换 */
/* 按钮 */
.btn-line {
  border-top-left-radius: 0.067rem;
  -webkit-border-top-left-radius: 0.067rem;
  -moz-border-radius-topleft: 0.067rem;
  border-top-right-radius: 0.067rem;
  -webkit-border-top-right-radius: 0.067rem;
  -moz-border-radius-topright: 0.067rem;
  border-bottom-left-radius: 0.067rem;
  -webkit-border-bottom-left-radius: 0.067rem;
  -moz-border-radius-bottomleft: 0.067rem;
  border-bottom-right-radius: 0.067rem;
  -webkit-border-bottom-right-radius: 0.067rem;
  -moz-border-radius-bottomright: 0.067rem;
  border-width: 2px 2px 2px 2px;
  border-style: solid;
  padding: 0 0.267rem;
}
[data-dpr="2"] .btn-line {
  border-width: 4px 4px 4px 4px;
}
[data-dpr="3"] .btn-line {
  border-width: 6px 6px 6px 6px;
}
.btn-default {
  color: #666;
  border-color: #ccc;
}
.btn-theme {
  color: #393A3F;
  border-color: #393A3F;
}
.btn-full-theme {
  color: #fff;
  border-color: #393A3F;
  background-color: #393A3F;
}
.btn {
  border-top-left-radius: 0.067rem;
  -webkit-border-top-left-radius: 0.067rem;
  -moz-border-radius-topleft: 0.067rem;
  border-top-right-radius: 0.067rem;
  -webkit-border-top-right-radius: 0.067rem;
  -moz-border-radius-topright: 0.067rem;
  border-bottom-left-radius: 0.067rem;
  -webkit-border-bottom-left-radius: 0.067rem;
  -moz-border-radius-bottomleft: 0.067rem;
  border-bottom-right-radius: 0.067rem;
  -webkit-border-bottom-right-radius: 0.067rem;
  -moz-border-radius-bottomright: 0.067rem;
  padding: 0 0.267rem;
  border-width: 2px 2px 2px 2px;
  border-style: solid;
}
.btn-square {
  height: 100%;
}
.btn-square-theme {
  color: #fff;
  background-color: #393A3F;
  text-align: center;
}
.btn-square-lighterTheme {
  color: #fff;
  background-color: #393A3F;
  text-align: center;
}
