.page-head {
  overflow: hidden;
  width: 100%;
  height: 100px;
  border-bottom: 2px solid #309195;
  padding: 0 54px 0 180px ;
  font-size: 0;
}
.page-head .top .title {
  font-size: 36px;
  font-weight: bold;
  line-height: 100px;
  float: left;
}
.page-head .top .arrow {
  width: 40px;
  height: 28px;
  margin-left: 26px;
}
.page-head .top .menu-content {
  float: left;
}
.page-head .top .menu-content .menu-item {
  height: 34px;
  box-sizing: border-box;
  line-height: 100px;
  font-size: 24px;
  padding: 0 32px;
  color: #7f7f7f;
  height: 40px;
  text-decoration: none;
  cursor: pointer;
}
.page-head .top .menu-content .menu-item:not(:first-child) {
  border-left: 1px solid #7f7f7f;
}
.page-head .top .menu-content .menu-item.router-link-active {
  color: #c00000;
  font-weight: bold;
}
.page-head .top .menu-content .menu-item.active {
  color: #c00000;
  font-weight: bold;
}
.page-head .decorate-left {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 110px;
  height: 120px;
}
.page-head .decorate-right {
  position: fixed;
  z-index: 1000;
  top: 46px;
  right: 0;
  width: 31px;
  height: 50px;
}
.page-head .decorate-bottom {
  position: fixed;
  z-index: 1000;
  bottom: 0;
  right: 0;
  width: 74px;
  height: 81px;
}
