.txtandpic-page-body {
  width: 100%;
  height: calc(100% - 100px);
  padding: 6% 100px 100px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.txtandpic-page-body .item-box {
  width: 20%;
  height: 100%;
  text-align: center;
}
.txtandpic-page-body .item-box .img-content {
  width: 206px;
  height: 206px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #dedede;
  background: #fff;
}
.txtandpic-page-body .item-box .img-content img {
  width: 100%;
  height: 100%;
}
.txtandpic-page-body .item-box .title {
  margin: 10% 0 5%;
}
