meta(charset="UTF-8")
title 动跃数据分析
link(rel="stylesheet", href="../css/main.css")
script(src="../js/jquery.min.js")
script(src="../js/each/healthyList.js")
script(src="../js/each/dataChoose.js")
script(src="../js/each/cityChoose.js")
script(src="../js/public.js")