<!DOCTYPE html>
html(lang="zh-CN")
  head
    include head.jade
  body
    include header2.jade
    .healthyClass
      .choose
        span.my-title 圣菲小学
        span.year 选择学年
        select
          option(value="2017~2018") 2017~2018学年 
          option(value="2017~2018") 2017~2018学年 
          option(value="2017~2018") 2017~2018学年
        span.grade 选择年级
        select 
          option(value="一年级") 一年级
          option(value="二年级") 二年级
          option(value="三年级") 三年级
          option(value="四年级") 四年级
      .box
        .title-choose
          a.active(href="#") 全部
          a(href="#") 基本运动
          a(href="#") 球类
          a(href="#") 特色项目
        .my-content
          .left-num 1
          .right-content
            .content-box
              .title-name 课次内容
              .content-txt 队列队形：原地踏步
            .content-box
              .title-name 教学目标
              .content-txt 1.啊士大夫敢死队风格士大夫给1.啊士大夫敢死队风格士大夫给1.啊士大夫敢死队风格士大夫给1.啊士大夫敢死队风格士大夫给1.啊士大夫敢死队风格士大夫给1.啊士大夫敢死队风格士大夫给1.啊士大夫敢死队风格士大夫给1.啊士大夫敢死队风格士大夫给1.啊士大夫敢死队风格士大夫给1.啊士大夫敢死队风格士大夫给1.啊士大夫敢死队风格士大夫给
            .content-box
              .title-name 教学重难点
              .content-txt 队列队形：原地踏步
            .content-box
              .title-name 课时
              .content-txt 1课时
        .my-content
          .left-num 2
          .right-content
            .content-box
              .title-name 课次内容
              .content-txt 队列队形：原地踏步
            .content-box
              .title-name 教学目标
              .content-txt 1.啊士大夫敢死队风格士大夫给1.啊士大夫敢死队风格士大夫给1.啊士大夫敢死队风格士大夫给1.啊士大夫敢死队风格士大夫给1.啊士大夫敢死队风格士大夫给1.啊士大夫敢死队风格士大夫给1.啊士大夫敢死队风格士大夫给1.啊士大夫敢死队风格士大夫给1.啊士大夫敢死队风格士大夫给1.啊士大夫敢死队风格士大夫给1.啊士大夫敢死队风格士大夫给
            .content-box
              .title-name 教学重难点
              .content-txt 队列队形：原地踏步
            .content-box
              .title-name 课时
              .content-txt 1课时
        .my-content
          .left-num 3
          .right-content
            .content-box
              .title-name 课次内容
              .content-txt 队列队形：原地踏步
            .content-box
              .title-name 教学目标
              .content-txt 1.啊士大夫敢死队风格士大夫给1.啊士大夫敢死队风格士大夫给1.啊士大夫敢死队风格士大夫给1.啊士大夫敢死队风格士大夫给1.啊士大夫敢死队风格士大夫给1.啊士大夫敢死队风格士大夫给1.啊士大夫敢死队风格士大夫给1.啊士大夫敢死队风格士大夫给1.啊士大夫敢死队风格士大夫给1.啊士大夫敢死队风格士大夫给1.啊士大夫敢死队风格士大夫给
            .content-box
              .title-name 教学重难点
              .content-txt 队列队形：原地踏步
            .content-box
              .title-name 课时
              .content-txt 1课时