html(lang="zh-CN")
  head
    include head.jade
    script(src="../js/echarts.js")
  body
    include header2.jade
    .tiZhiChengJiTongJi
      .choose
        .year
          span.title 学年：
          span.box
            span.focus 2017~2018
            span 2017~2018
        .grade
          span.title 年级：
          span.box
            span 一年级
            span 二年级
            span 三年级
            span 四年级
            span 五年级
            span.focus 所有
      .sub-choose
        span.item.one 选择内容：
          span.active 
            a(href="tiZhiChengJiTongJiTableJust.html") 查看成绩构成
          i &nbsp;&nbsp;/&nbsp;&nbsp;
          span
            a(href="tiZhiChengJiTongJiTable.html") 查看成绩统计
      .table-content
        span.title 一年级考核项目：
        .table-slideBox
          .table
            table
              thead
                tr
                  td(colspan="11") 基本身体素质测试30%
                  td(colspan="7") 体育基础课与特色课运动技术与能力测试30%
                  td 技评10%
                  td(colspan="4") 过程性评价20%
                  td(rowspan="2") 基础理论知识10%
                  td(rowspan="2") 期末成绩
                tr
                  td(colspan="2") Ⅰ 50米
                  td(colspan="2") Ⅱ 坐位体前屈
                  td(colspan="2") Ⅲ 1分钟跳绳
                  td(colspan="2") Ⅳ 仰卧起坐
                  td(colspan="2") Ⅴ 50*8往返跑
                  td(rowspan="2")
                    div 平均得分
                    div 30
                  td(colspan="2") Ⅰ 特色运动技能
                  td(colspan="2") Ⅱ 特色运动技能
                  td(colspan="2") Ⅲ 基本运动技能
                  td(rowspan="2")
                    div 平均得分
                    div 30
                  td(rowspan="2")
                    div 平均得分
                    div 10
                  td Ⅰ
                  td Ⅱ
                  td Ⅲ
                  td Ⅳ
                tr
                  td 成绩
                  td 得分100分
                  td 成绩
                  td 得分100分
                  td 成绩
                  td 得分100分
                  td 成绩
                  td 得分100分
                  td 成绩
                  td 得分100分
                  td 成绩
                  td 得分100分
                  td 成绩
                  td 得分100分
                  td 成绩
                  td 得分100分
                  td 平均得分5
                  td 平均得分5
                  td 平均得分5
                  td 平均得分5
                  td 平均得分10
                  td 平均得分100
      .table-content
        span.title 二年级考核项目：
        .table-slideBox
          .table
            table
              thead
                tr
                  td(colspan="11") 基本身体素质测试30%
                  td(colspan="7") 体育基础课与特色课运动技术与能力测试30%
                  td 技评10%
                  td(colspan="4") 过程性评价20%
                  td(rowspan="2") 基础理论知识10%
                  td(rowspan="2") 期末成绩
                tr
                  td(colspan="2") Ⅰ 50米
                  td(colspan="2") Ⅱ 坐位体前屈
                  td(colspan="2") Ⅲ 1分钟跳绳
                  td(colspan="2") Ⅳ 仰卧起坐
                  td(colspan="2") Ⅴ 50*8往返跑
                  td(rowspan="2")
                    div 平均得分
                    div 30
                  td(colspan="2") Ⅰ 特色运动技能
                  td(colspan="2") Ⅱ 特色运动技能
                  td(colspan="2") Ⅲ 基本运动技能
                  td(rowspan="2")
                    div 平均得分
                    div 30
                  td(rowspan="2")
                    div 平均得分
                    div 10
                  td Ⅰ
                  td Ⅱ
                  td Ⅲ
                  td Ⅳ
                tr
                  td 成绩
                  td 得分100分
                  td 成绩
                  td 得分100分
                  td 成绩
                  td 得分100分
                  td 成绩
                  td 得分100分
                  td 成绩
                  td 得分100分
                  td 成绩
                  td 得分100分
                  td 成绩
                  td 得分100分
                  td 成绩
                  td 得分100分
                  td 平均得分5
                  td 平均得分5
                  td 平均得分5
                  td 平均得分5
                  td 平均得分10
                  td 平均得分100