html(lang="zh-CN")
  head
    include head.jade
    script(src="../js/each/cityChoose.js")
    script(src="../js/each/passRate.js")
    script(type='text/javascript').
      $(function(){
        $('.leftNav>ul>li').removeClass('focus')
        $('.leftNav>ul>li').eq(1).addClass('focus')
        $('.leftNav>ul>li').eq(2).click()
        $('.leftNav>ul>li>ul>li').removeClass('focus')
        $('.leftNav>ul>li>ul>li').eq(0).addClass('focus')
      })
  body
    include header2.jade
    .passRate
      .choose
        .year
          span.title 区域范围：
          span.box
            span.focus.findcity(areacode="510600") 德阳市
            span.findcity(areacode="510100") 成都市
        .grade
          span.title 区域范围：
          span.box.multi.cityresult
            span 渝中区
            span 九龙坡
            span 江北区
            span.focus 沙坪坝区
        .qujian
          span.title 区域范围：
          span.box
            span 城市
            span 乡村
            span.focus 全部
        .class
          span.title 性别：
          span.box
            span 男生
            span 女生
            span.focus 全部
        .class
          span.title 可选项目：
          span.box
            span 总成绩
            span 50米
            span.focus BMI
            span 坐位体前屈
            span 一分钟跳绳
            span 一分钟仰卧起坐
      .btn-box
        input(type="button" class="btn-small btn-green" value="年级数据") 
        input(type="button" class="btn-small" value="年龄数据") 
      .table-box-new
        table
          thead(class="tbl-bder-bottom")
            tr
              th(rowspan="3") 
                div 年级
              th(colspan="3") 
                div(class="tbl-bder-bottom") 一分钟跳绳
              th(colspan="8") 
                div(class="tbl-bder-bottom") 一分钟跳绳等级
            tr
              th
                div 样本数
              th
                div 平均值
              th
                div 标准差
              th(colspan="2") 
                div(class="tbl-bder-bottom") 不及格
              th(colspan="2") 
                div(class="tbl-bder-bottom") 及格
              th(colspan="2") 
                div(class="tbl-bder-bottom") 良好
              th(colspan="2") 
                div(class="tbl-bder-bottom")  优秀
            tr(class="tbl-bder-bottom")
              th
                div /个
              th
                div /个
              th
                div /个
              th
                div 人数
              th
                div %
              th
                div 人数
              th
                div %
              th
                div 人数
              th
                div %
              th
                div 人数
              th
                div %
          tbody(class="tbl-bder-bottom")
            tr
              td 小学一年级
              td 1010
              td 1010
              td 1010
              td 1010
              td 10%
              td 1010
              td 10%
              td 1010
              td 10%
              td 1010
              td 10%
            tr
              td 小学一年级
              td 1010
              td 1010
              td 1010
              td 1010
              td 10%
              td 1010
              td 10%
              td 1010
              td 10%
              td 1010
              td 10%
            tr
              td 小学一年级
              td 1010
              td 1010
              td 1010
              td 1010
              td 10%
              td 1010
              td 10%
              td 1010
              td 10%
              td 1010
              td 10%
            tr
              td 小学一年级
              td 1010
              td 1010
              td 1010
              td 1010
              td 10%
              td 1010
              td 10%
              td 1010
              td 10%
              td 1010
              td 10%
            tr
              td 小学一年级
              td 1010
              td 1010
              td 1010
              td 1010
              td 10%
              td 1010
              td 10%
              td 1010
              td 10%
              td 1010
              td 10%
          tfoot
            tr
              td 合计
              td 1010
              td 1010
              td 1010
              td 1010
              td 10%
              td 1010
              td 10%
              td 1010
              td 10%
              td 1010
              td 10%