html(lang="zh-CN")
  head
    include head.jade
    script(src="../js/each/cityChoose.js")
    script(src="../js/each/passRate.js")
    script(type='text/javascript').
      $(function(){
        $('.leftNav>ul>li').removeClass('focus')
        $('.leftNav>ul>li').eq(1).addClass('focus')
        $('.leftNav>ul>li').eq(2).click()
        $('.leftNav>ul>li>ul>li').removeClass('focus')
        $('.leftNav>ul>li>ul>li').eq(1).addClass('focus')
      })
  body
    include header2.jade
    .passRate
      .choose
        .year
          span.title 区域范围：
          span.box
            span.focus.findcity(areacode="510600") 德阳市
            span.findcity(areacode="510100") 成都市
        .grade
          span.title 区域范围：
          span.box.multi.cityresult
            span 渝中区
            span 九龙坡
            span 江北区
            span.focus 沙坪坝区
        .class
          span.title 性别：
          span.box
            span 男生
            span 女生
            span.focus 全部
        .class
          span.title 可选项目：
          span.box
            span 总成绩
            span 50米
            span.focus BMI
            span 坐位体前屈
            span 一分钟跳绳
            span 一分钟仰卧起坐
        .time-box
          input(type="checkbox" id="2016" value="2016")
          label(for="2016") 2016
          input(type="checkbox" id="2017" value="2017")
          label(for="2017") 2017
          input(type="checkbox" id="2018" value="2017")
          label(for="2018") 2018
          input(type="button" class="btn-small btn-green" value="确认") 
      .btn-box
        input(type="button" class="btn-small btn-green" value="年级数据") 
        input(type="button" class="btn-small" value="年龄数据") 
      .table-box-new
        table
          thead(class="tbl-bder-bottom")
            tr
              th(rowspan="2") 
                div 年级
              th(colspan="3") 
                div(class="tbl-bder-bottom") 城市均值
              th(colspan="3") 
                div(class="tbl-bder-bottom") 乡村均值
            tr
              th 2016
              th 2018
              th 增长至
              th 2016
              th 2018
              th 增长至
          tbody(class="tbl-bder-bottom")
            tr
              td 小学一年级
              td 1010
              td 1010
              td 1010
              td 1010
              td 1010
              td 1010
            tr
              td 小学一年级
              td 1010
              td 1010
              td 1010
              td 1010
              td 1010
              td 1010
            tr
              td 小学一年级
              td 1010
              td 1010
              td 1010
              td 1010
              td 1010
              td 1010
          tfoot
            tr
              td 合计
              td 1010
              td 1010
              td 1010
              td 1010
              td 1010
              td 1010
        br
        h3 7~12岁
        p 男生坐位体前屈成绩为7.72cm，比女生低2.76cm，差异显著，有统计学意义，（μ=72.55，p<0.01），
        p 城市男生坐位体前屈成绩为7.72cm，比城市女生低2.76cm，差异显著，有统计学意义，（μ=72.55，p<0.01），
        p 乡村男生坐位体前屈成绩为7.72cm，比乡村女生低2.76cm，差异显著，有统计学意义，（μ=72.55，p<0.01）
        h3 13~18岁
        p 男生坐位体前屈成绩为7.72cm，比女生低2.76cm，差异显著，有统计学意义，（μ=72.55，p<0.01），
        p 城市男生坐位体前屈成绩为7.72cm，比城市女生低2.76cm，差异显著，有统计学意义，（μ=72.55，p<0.01），
        p 乡村男生坐位体前屈成绩为7.72cm，比乡村女生低2.76cm，差异显著，有统计学意义，（μ=72.55，p<0.01）
